// Here you can add other styles
@font-face {
  font-family: 'MyFont';
  src: url('../assets/fonts/IRANSansWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'SuccondMyFont';
  src: url('../assets/fonts/BYekan.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaMedium';
  src: url('../assets/fonts/DanaMedium.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaLight';
  src: url('../assets/fonts/DanaLight.ttf') format('truetype');
}

@font-face {
  font-family: 'DanaBlack';
  src: url('../assets/fonts/DanaBlack.ttf') format('truetype');
}

//Need Chenge in app.js
body {
  font-family: 'MyFont' , 'SuccondMyFont' ,'DanaMedium','DanaLight','DanaBlack', sans-serif;
  // font-size: 13px;

}

// .ant-form-item.css-dev-only-do-not-override-1mlo16j{
//   margin: 0 !important;
// }
.Toastify__toast-body {
  font-family: 'MyFont';
  font-weight: 300;
}

.highcharts-credits{
  visibility: hidden;
}

.ant-table-container {
  min-height: 50vh;
  max-height: 54vh;
}
.ant-btn.btn-success{
  color: #52c41a;
  border-color: #52c41a;
}
.ant-btn.btn-info{
  color: #13c2c2;
  border-color: #13c2c2;
}
.ant-btn.btn-danger{
  color: #f5222d;
  border-color: #f5222d;
}
.ant-btn.btn-primary{
  color: #1677ff;
  border-color: #1677ff;
}
.ant-btn.btn-warning{
  color: #fa8c16;
  border-color: #fa8c16;
}
.ant-btn.btn-filter{
  color: #722ed1;
  border-color: #722ed1;
}

span.anticon.anticon-right.ant-collapse-arrow svg{
  color: #fa8c16;
}



//For scrollbars
*::-webkit-scrollbar {
  width: 10px !important;
  border: 1px solid #d5d5d5 !important;

}


/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
  background: #eeeeee;


}

/* Handle */
::-webkit-scrollbar-thumb {
  width:2px;
  border-radius:20px;
  background: #b0b0b0a1 !important;

}



.sidebar{
   --cui-sidebar-bg:#036
}

// .sidebar .nav-title{
//   color: #038fdd;
// }
.sidebar-nav .nav-link{
  color: #038fdd;
}
.sidebar-nav .nav-link:hover {
  color: #fa8c15;
}
.sidebar-nav .nav-icon{
  color: #038fdd;
}
.sidebar-nav .nav-icon:hover{
  color: #fa8c15;
}



// #038fdd

// .ant-btn{
//   :hover{
//     color: red;
//     border-color: red;
//   }
// }

// export const BUTTON_SUCCESS_STYLES = { color: color.green.primary, borderColor: color.green.primary }
// export const BUTTON_INFO_STYLES = { color: color.cyan.primary, borderColor: color.cyan.primary }
// export const BUTTON_DANGER_STYLES = { color: color.red.primary, borderColor: color.red.primary }
// export const BUTTON_PRIMARY_STYLES = { color: color.blue.primary, borderColor: color.blue.primary }
// export const BUTTON_WARNING_STYLES = { color: color.orange.primary, borderColor: color.orange.primary }
// export const BUTTON_FILTER_STYLES = { color: color.purple.primary, borderColor: color.purple.primary }
