// Here you can add other styles
body {
  background-color: #f5f5f5;
  margin: 0;
  // padding: 0;
  overflow: hidden;
  font-family: "MyFont", "SuccondMyFont", "DanaMedium", "DanaLight", "DanaBlack",
    sans-serif;
  // font-size: 13px;
}

.ant-card{
  // box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.500);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
  padding: 16px 16px 0;
  overflow: auto;
  height: 100%;
  max-height: 80vh;
  min-height: 70vh;
  // border-radius: 8px;
}

.Toastify__toast-body {
  font-family: "MyFont";
  font-size: small;
  // font-weight: 300;
}

.highcharts-credits {
  visibility: hidden;
}

span.ant-btn-icon {
  margin-top: 3px;
}

.rmdp-container {
  display: block !important;
}
