
::-webkit-scrollbar {
  width: 16px !important;
  background-color:  transparent;;
  border-radius: 8px;
  //display: none;
}

::-webkit-scrollbar-thumb {
  background-color:  #15417E;
  border-radius: 8px;
  // height: 50%;  
  }
  
