
::-webkit-scrollbar {
  width: 8px !important;
  height: 8px;
  // background-color:   #44fd0c;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background-color:  #858585;
  border-radius: 8px;
  // height: 50%;  
 }
  
